* {
    box-sizing: border-box !important;
}


#root {
    height: 100vh;
    max-height: 100vh;
}

body {
    background-color: #232e42;
    margin: 0;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}



.block-color {
    background-color: #2f3b51;
}


.extra-small-btn {
    font-size: .75rem;
    background-color: #232e42;
    border-color: #2f3b51;
}
